@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  height: 70px;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar__logo {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #4a90e2;
}

.navbar__links {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
}
.navbar__links li {
  margin: 0 15px;
}
.navbar__links li a {
  text-decoration: none;
  color: #4a90e2;
  transition: 300ms;
}
.navbar__links li a:hover {
  color: #3f71aa;
  font-size: 22px;
}
#active__link {
  color: #3f71aa;
  font-size: 22px;
  border-top: 1.5px solid #3f71aa;
  border-bottom: 5px double #3f71aa;
}
.hero {
  width: 100%;
  height: calc(100vh - 70px);
  overflow: hidden;
  background-image: url("../Images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* darkens the bg-image */
  background-color: rgba(0, 0, 0, 0.5);
  /* make the filter be ab ove the bg imge */
  z-index: 1;
}
.hero__content {
  position: absolute;
  /* makes the content be above the image and the filter */
  z-index: 2;
  text-align: center;
  width: 60%;
}
.hero__content h1 {
  color: white;
  font-size: 70px;
  font-weight: 800;
  margin-bottom: 10px;
  text-transform: capitalize;
}
.hero__content p {
  color: whitesmoke;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.hero__content button {
  padding: 10px 20px;
  color: white;
  background-color: #4a90e2;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  transition: 300ms;
}
.hero__content button:hover {
  opacity: 80%;
  cursor: pointer;
}
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px 20px;
}
.main__left {
  flex: 1;
  min-width: 200px;
  max-width: 500px;
}
.main__left h4 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #4a90e2;
}
.main__left p {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  color: #333;
  padding: 10px 0;
}
.main__left button {
  border: 2px solid #4a90e2;
  background-color: white;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 400;
  color: #4a90e2;
  border-radius: 10px;
  margin-top: 20px;
}
.main__right {
  flex: 1;
  min-width: 200px;
  display: flex;
  /* max-width: 500px; */
}
.main__right img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.departments {
  background-color: aliceblue;
  padding: 40px 20px;
}
.departments__heading {
  text-align: center;
}
.departments__heading h2 {
  font-size: 40px;
  font-weight: 700;
  color: #4a90e2;
}
.departments__heading p {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 500;
  color: #333;
}
.departments__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}
.departments__section .card {
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px;
  display: block;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
.departments__section .card i {
  color: #4a90e2;
  font-size: 24px;
  font-weight: 700;
}
.departments__section .card h4 {
  color: #333;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 700;
}
.departments__section .card p {
  color: #555;
  font-size: 15px;
  font-weight: 400;
}
.departments__section .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.departments__section .info p {
  font-size: 14px;
  font-weight: 300;
  color: #333;
}
.departments__section .info a {
  text-decoration: none;
  color: #4a90e2;
  font-size: 14px;
  transition: 400ms;
  font-weight: 500;
}
.departments__section .info a:hover {
  color: #3f71aa;
  font-size: 13px;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
  padding: 20px 40px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
.footer h3 {
  font-size: 16px;
  color: #4a90e2;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.footer__left p {
  padding-top: 10px;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  font-weight: 400;
}
.footer li {
  list-style: none;
  padding: 8px 0;
  font-size: 14px;
  line-height: 1.6;
  font-weight: 400;
}
.footer__quick-links li a {
  text-decoration: none;
  color: #333;
}
.footer__departments li {
  color: #333;
}

.footer__connect .mail {
  display: flex;
  padding-bottom: 10px;
  gap: 10px;
  font-weight: 400;
  color: #333;
  line-height: 1.6;
  font-size: 16px;
}
.footer__connect .mail i {
  font-size: 20px;
  font-weight: 600;
}
.footer__connect .socials {
  display: flex;
  gap: 20px;
  color: #333;
  font-weight: 600;
  color: #333;
  line-height: 1.6;
}
/* JOBS PAGE */
.jobs__header {
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.jobs__header h2 {
  color: #333;
  padding-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
}
.jobs__header p {
  color: #555;
  font-size: 16px;
  font-weight: 400;
}
.jobs__main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 30px;
  padding: 30px;
  background-color: aliceblue;
}
.jobs__filter {
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
}
.jobs__filter-heading {
  display: flex;
  padding-bottom: 25px;
}
.jobs__filter-heading i {
  font-size: 22px;
  font-weight: 100;
  color: #555;
  padding-right: 5px;
}
.jobs__filter-heading h4 {
  font-size: 18px;
  font-weight: 600;
}
.job-type,
.job-location,
.job-department {
  padding-bottom: 25px;
}
.job-type div,
.job-department div {
  padding-bottom: 12px;
}
.filter__form h5 {
  color: #4a90e2;
  padding-bottom: 12px;
  font-size: 16px;
  font-weight: 600;
}
.jobs__positions {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.jobs__positions-top {
  display: flex;
  justify-content: space-between;
}
.jobs__positions-top p {
  color: #333;
}
.jobs__positions-top select {
  width: 150px;
  height: 36px;
  background-color: white;
  color: #333;
  padding: 5px 10px;
}
.jobs__positions-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.jobs__positions-card {
  padding: 20px 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.jobs__positions-card h2 {
  padding-bottom: 20px;
  color: #4a90e2;
  font-size: 26px;
  font-weight: 600;
}
.jobs__positions-card p {
  padding-bottom: 20px;
}
.i {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
}
.i i {
  padding-right: 13px;
}
.a {
  display: flex;
  justify-content: space-between;
}
.apply {
  text-decoration: none;
  background-color: #4a90e2;
  border-radius: 5px;
  padding: 8px 20px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  transition: 300ms;
}
.apply:hover {
  opacity: 85%;
}
.view {
  text-decoration: none;
  border: 2px solid#4a90e2;
  padding: 8px 20px;
  color: #333;
  transition: 300ms;
}
.view:hover {
  opacity: 70%;
}
/* ABOUT PAGE */
.about-header {
  background-color: #4a90e2;
}
/* APPLY PAGE */
.application {
  background-color: aliceblue;
  padding: 50px 200px;
}

.application__form {
  background-color: white;
  padding: 50px;
}
.form-name,
.form-email,
.form-number,
.form-upload,
.form-letter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}
.form-name label,
.form-email label,
.form-number label,
.form-upload label,
.form-letter label {
  color: #4a90e2;
  font-size: 16px;
  font-weight: 00;
}
.form-name span,
.form-email span,
.form-number span,
.form-upload span,
.form-letter span {
  color: red;
}
.form-name input,
.form-email input,
.form-number input,
.form-letter input {
  padding: 5px;
  color: #333;
  ;
}
